{% extends "::layout.html.twig" %}

{% block subheader %}
    {% include 'AppBundle:Commons:subheader.html.twig' with {'ariane': '<a href="'~ path("fos_user_profile_show") ~'">Gérer mon compte</a>' } %}
{% endblock %}

{% block imgNav %}
    <a href="{{ path('app_home') }}"><img style="display:block; float:left;padding-right:20px;" src="{{ asset('web/images/logolancel.png') }}" alt="logo" height="50" /></a>
{% endblock %}

{% block body %}
<br>
<div class="span6 col-md-10 col-md-offset-1 col-xs-12">
    <div class="panel panel-danger">
        <div class="panel-heading">
            <h3 class="panel-title">{{ 'sonata_change_password_link'|trans({}, 'SonataUserBundle') }}</h3>
        </div>
        <div class="panel-body">
            <p class="">Pour rappel, votre mot de passe doit contenir au minimum 8 caractères dont au moins :<br />
            - une minuscule <br />
            - une majuscule <br />
            - un chiffre<br />
            - un caractère spécial (!,@,#,$,%,^,*) <br />
            </p>
            <hr>
			{% form_theme form "MopaBootstrapBundle:Form:fields.html.twig" %}
			<form action="{{ path('sonata_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password form-horizontal">
			    {{ form_start(form) }}
			    {{ form_rest(form) }}
			    <button type="submit" class="btn btn-danger pull-right"><i class="icon-lock icon-white glyphicon glyphicon-lock"></i>&nbsp;{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}</button>
			    {{ form_end(form) }}
			</form>
        </div>
    </div>
{% endblock %}